.recherche {
  display: flex;
  gap: 10px;
}

.recherche-effacer {
  padding: 10px 16px;
  background-color: #0a6e31;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.recherche-effacer:hover {
  background-color: #085a28;
}